<div class="add-row-editable-table">
    <button class="btn btn-primary" ng-click="addCar()">添加</button>
</div>
<table class="table table-bordered table-hover table-condensed" style="text-align: center;">
    <tr>
        <td width="5%"></td>
        <td width="15%">车辆编号</td>
        <td width="10%">车系</td>
        <td width="15%">配置</td>
        <td width="10%">颜色</td>
        <td width="15%">入库时间</td>
        <td width="10%">定价</td>
        <td width="20%">操作</td>
    </tr>
    <tr ng-repeat="car in cars" class="editable-row">
        <td>
            {{(5*(pagination.currentPage-1)+$index+1)}}
        </td>
        <td>
        <span editable-text="car.serial" e-name="serial" e-form="rowform" e-required>
          {{ car.serial || '未设置' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-select="car.line.id" e-name="line.id" e-form="rowform"
              e-ng-options="line.id as line.name for line in lines" e-ng-change="getConfigs($data)">
          {{ car.line.name || '未设置' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-select="car.configuration.id" e-name="configuration.id" e-form="rowform"
              e-ng-options="configuration.id as configuration.name for configuration in configs">
          <!--{{ showConfig(car) }}-->
            {{car.configuration.name || '未设置'}}
        </span>
        </td>
        <td class="select-td">
        <span editable-select="car.color" e-name="color.name" e-form="rowform"
              e-ng-options="color.name as color.name for color in colors">
          {{ car.color || '未设置'}}
        </span>
        </td>
        <td class="select-td">
        <span e-name="addTime" e-form="rowform"
              e-datepicker-popup="yyyy-MM-dd" editable-bsdate="car.addTime"
              e-is-open="opened.$data" e-ng-click="open($event,'$data')">
          {{(showAddTime(car) | date:"yyyy-MM-dd") || '未设置' }}
        </span>
        </td>
        <td>
       <span editable-text="car.price" e-name="number" e-form="rowform" e-required
             onbeforesave="checkPrice($data)">
          {{(car.price | price) || '未设置'  }}
        </span>
        </td>
        <td>
            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                  shown="inserted == car" onbeforesave="saveCar($data)">
                <button type="submit" ng-disabled="rowform.$waiting"
                        class="btn btn-primary editable-table-button btn-xs">
                    保存
                </button>
                <button ng-if="car.id !== null" e-form="rowAddForm rowEditForm" type="button"
                        ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                        class="btn btn-default editable-table-button btn-xs">
                    取消
                </button>
                <button ng-if="car.id == null" e-form="rowAddForm rowEditForm" type="button"
                        ng-disabled="rowform.$waiting" ng-click="removeCar($index)"
                        class="btn btn-default editable-table-button btn-xs">
                    取消
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="editRow(rowform,car.line.id)">编辑</button>
                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeCar($index)">删除</button>
            </div>
        </td>
    </tr>
</table>
<div class="text-center">
    <ul uib-pagination previous-text="上一页" next-text="下一页" last-text="尾页" first-text="首页"
        total-items="pagination.totalItems" ng-model="pagination.currentPage" class="pagination-sm" items-per-page="itemNum"
        boundary-links="true" ng-change="pageChanged()"></ul>
</div>